
{% extends 'base.html' %}
{% block content %}
{% for product in products %}


    <div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title">Название:
        <a href="{% url 'webapp:ProductDetaillView' product.pk %}">{{ product.name }}</a></h5>

        <p>Средний балл: {{ product.avg }}</p>



{% if perms.webapp.change_product %}
<a href="{% url 'webapp:ProductUpdate' product.pk  %}">Редактировать </a>
      {% endif %}
    <br>
  {% if perms.webapp.delete_product %}
      <a href="{% url 'webapp:ProductDelete' product.pk %}">Удалить </a>
{% endif %}
  </div>
</div>

{% endfor %}

{% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}


{% endblock %}