{%  extends 'base.html' %}

{%  block content %}
<div class="container">
<i>Name:</i> <b>{{ product }}</b>
    <br>
    <i>Category: </i><b>{{ product.category }}</b>
    <br>
    <i>Description: </i><b>{{ product.description }}</b>
    <br>
    <i>Img: </i><b>{{ product.img}}</b>
    <br>
    <i>Средний балл: </i><b>{{ avg}}</b>
    <br>
{% if perms.webapp.change_product %}
    <a href="{% url 'webapp:ProductUpdate' product.pk  %}">Редактировать </a>
    {% endif %}
    <br>
{% if perms.webapp.delete_product %}
    <a href="{% url 'webapp:ProductDelete' product.pk %}">Удалить </a>

{% endif %}



</div>
{%  endblock %}

